<h1>Welcome and Login</h1>


<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <div class="error_message">
      <%= message %>
    </div>
  <% end %>
<% end %>

<%= form_with url: '/login' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
    <% end %>

<%= link_to "Sign Up", new_user_path %>