<%# SHOW COMMENT THREAD %>
    <% p.comments.each do |c| %>
        <li>
            <%= "#{c.user.username} said #{c.content}" %>
            <% if c.user.id == @current_user.id %>
                <%= " | " %>
                <%=link_to("Edit", edit_comment_path(c)) %>
            <% end %>
        </li>
    <% end %>
    
    <%# ADD NEW COMMENT %>
    <p>Add Comment</p>
    <%= form_for(@comment, method: "POST", url: comments_path) do |f| %>
        <%= f.hidden_field(:post_id, value: p.id) %>
        <%= f.hidden_field(:user_id, value: @current_user.id) %>
        <%= f.text_area :content %>
        <%= f.submit "Add Comment" %>
    <% end %>
