<%# SHOW COMMENT THREAD %>
<%# Render form for current comment, if it was created by current_user %>
<div class="partial-wrapper">
  <% @post.comments.each do |c| %>
    <% if c.id == @comment.id && c.user.id == @current_user.id %>
      <div>
        <%= form_for(c, method: "PATCH", url: comment_path(c)) do |f| %>
            <%= f.hidden_field(:post_id, value: @post.id) %>
            <%= f.hidden_field(:user_id, value: @current_user.id) %>
            <%= f.text_area :content, class: "comment-box" %>
            <%= f.submit "Edit Comment", class: "btn btn-outline-primary" %>
        <% end %><br>
        <%= button_to("Delete Comment", {action: "destroy"}, {method: :delete, class: "btn btn-danger"}) %>
      </div>
    <% else %>
      <div>
        <%= link_to c.user.username, user_path(c.user) %>
        <%= "said #{c.content}" %>
      </div>
    <% end %>
  <% end %>

  <%# DON'T INCLUDE "ADD NEW COMMENT" FUNCTIONALITY %>
</div>