<div class="no-menu-wrapper">

  <h1>Sign Up</h1>

  <% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
      <div class="error_message">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username, required: true, class: "form-control" %><br>
      <%= f.label :password %>
      <%= f.password_field :password, required: true, class: "form-control" %><br>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true, class: "form-control" %><br>
      <%= f.submit class: "btn btn-outline-light" %>
    <% end %>
  </div>
</div>