<h1><%= @user.username %>'s Profile</h1>

<%# render edit profile button if this is the current user's show page %>
<% if @user == @current_user %>
    <%= button_to "Update Profile", edit_user_path(@current_user), method: :get %>
<% end %>

<%# count fans and idols %>
<ul>
    <li>Fans: <%= @user.fans.count %></li>    
    <li>Idols: <%= @user.idols.count %></li>
</ul>

<%# FOLLOW (OBESS) BUTTON NEEDS WORK!! %>
<% if session[:user_id] == @user.id %>

<% elsif User.find(session[:user_id]).idols.include?(@user) %>
    <%= button_to "Detach From", unfollow_user_path(@user), method: :post %>
<% else %>
    <%= button_to "Obsess Over", follow_user_path(@user), method: :post %>
<% end %>

<%# disply bio %>
<p>Bio: <%= @user.bio %></p>

<%# display user's posts %>
<% @posts.each do |p| %>
       <%= render '/posts/item', :p => p %>
       <%= render '/comments/comments_show', :p => p %>
       <br><hr>
<% end %>


