<h1><%= @user.username %>'s Profile</h1>

<p>Fans: <%= @user.fans.count %></p>
    
<p>Idols: <%= @user.idols.count %></p>

<%# FOLLOW (OBESS) BUTTON NEEDS WORK!! %>
<% if session[:user_id] == @user.id %>

<% elsif User.find(session[:user_id]).idols.include?(@user) %>
    <%= button_to "Unfollow", unfollow_user_path(@user), method: :post %>
<% else %>
    <%= button_to "Follow", follow_user_path, method: :post %>
<% end %>


<% @user.my_authored_posts.each do |p| %>

    <%# SHOW IMAGE %>
    <%= image_tag(p.img_url) %>
    <br>

    <%# SHOW LIKES %>
    <%= pluralize(p.total_likes, "like") %>

    <%# RENDER LIKE or UNLIKE BUTTON %>
    <% if @user.id != session[:user_id] %>
        <% if p.like?(@user) %>
            <%= button_to "Unlike", delete_like_path(p), method: :delete %>
        <% else %>
            <%= button_to "Like", create_like_path(p), method: :post %>
        <% end %>
    <% end %>

    <%# SHOW COMMENT THREAD %>
    <% p.comments.each do |c| %>
        <li>
        <%= link_to c.user.username, user_path(c.user) %> <%= "said #{c.content}" %>
            <% if c.user.id == @user %>
                <%= " | " %>
                <%=link_to("Edit", edit_comment_path(c)) %>
            <% end %>
        </li>
    <% end %>
    
    <%# ADD NEW COMMENT %>
    <p>Add Comment</p>
    <%= form_for(@comment, method: "POST", url: comments_path) do |f| %>
        <%= f.hidden_field(:post_id, value: p.id) %>
        <%= f.hidden_field(:user_id, value: session[:user_id]) %>
        <%= f.text_area :content %>
        <%= f.submit "Add Comment" %>
    <% end %>
    <br><hr>
<% end %>

<%# RENDER BUTTONS ONLY IF USER IS CURRENT_USER %>
<% if @user.id == session[:user_id] %>
    <%= button_to "Create New Post", new_post_path(@post), method: :get %>
    <%= button_to "Update Profile", edit_user_path(@user), method: :get %>
    <%= button_to "Delete Profile", user_path(@user), method: :delete %>
<% else %>
<% end %>

