<h1><%= @user.username %>'s Profile</h1>

<p>Fans: <%= @user.fans.count %></p>    
<p>Idols: <%= @user.idols.count %></p>

<%# FOLLOW (OBESS) BUTTON NEEDS WORK!! %>
<% if session[:user_id] == @user.id %>

<% elsif User.find(session[:user_id]).idols.include?(@user) %>
    <%= button_to "Detach From", unfollow_user_path(@user), method: :post %>
<% else %>
    <%= button_to "Obsess Over", follow_user_path(@user), method: :post %>
<% end %>


<% @posts.each do |p| %>
       <%= render '/posts/item', :p => p %>
       <%= render '/comments/comments_show', :p => p %>
       <br><hr>
<% end %>

<% if @user == @current_user %>
    <%= button_to "Create New Post", new_post_path(@post), method: :get %>
    <%= button_to "Update Profile", edit_user_path(@current_user), method: :get %>
    <%= button_to "Delete Profile", user_path(@current_user), method: :delete %>
<% end %>
