<h1>Obsessions Development Index</h1>

<% @posts.each do |p| %>
    <h3><%= p.user.username %></h3>
    <%= image_tag(p.img_url) %>
    <br>
    <% if p.like?(@user) %>
    <%= button_to "unlike", delete_like_path(p), method: :delete %>
    <% else %>
    <%= button_to "like", create_like_path(p), method: :post %>
    <% end %>
    <%= pluralize(p.total_likes, "like") %>
    <% p.comments.each do |c| %>
        <li><%= "#{c.user.username} said #{c.content}" %></li>
    <% end %>
        <br>
        <hr>
<% end %>
